* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* 
 * 
 * @media
 * 
*/

@media only screen and (min-width: 600px) {
  article h2 {
    margin-bottom: -1em;
  }
  article p {
    margin: 5%;
  }
  footer a {
    margin: 0 1em 2em;
  }
  #viewSource {
    margin-left: auto;
  }
  footer div {
    margin-right: auto;
  }
}

/* 
 * 
 * Body
 * 
*/

body {
  width: 100%;
  margin: 0;

  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 3.3em;
  font-weight: 300;
}

/* 
 * 
 * Content
 * 
*/

h1, h2 {
  text-align: center;
}

article, img {
  margin-left: auto;
  margin-right: auto;
}

a {
  margin: 0 0.5em 2em;
}

/* 
 * 
 * Article
 * 
*/

article {
  padding: 10px;
  max-width: 46em;
  /*height: 80vh;
  overflow-y: scroll;*/
}

p {
  text-align: justify;
}

p:before {
  content: "12345";
  color: white;
}

h2 {
  margin-bottom: -0.5em;
}

/* 
 * 
 * Images
 * 
*/

img {
  display: block;
  max-width: 700px;
  width: 100%;
  transition: 0.3s;
}

#flourish {
  max-width: 100vw;
  margin-top: -25%;
}

/* 
 * 
 * Footer
 * 
*/

footer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

footer p {
  margin:0;
}

footer a {
  margin-top: 10px;
}
footer div {
  margin-bottom: 2em;
}

/* 
 * 
 * Media Icons
 * 
*/

.social {
  font-family: 'zocial', sans-serif;
}

.social a {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
}

.social a:hover {
  color: orange !important;
  background-color: white !important;
}

#twitter {
  color: dodgerblue;
}

#facebook {
  padding-right: 0.2em;
  background-color: blue;
  color: white;
}

#googleplus {
  padding: 0 0.1em;
  background-color: red;
  color: white;
}

#digg {
  font-size: 2em;
}
